[submodule "audio/modules/link"]
	path = audio/modules/link
	url = https://github.com/Ableton/link.git
[submodule "audio/modules/portaudio"]
	path = audio/modules/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "audio/modules/pybind11"]
	path = audio/modules/pybind11
	url = https://github.com/pybind/pybind11.git
