[submodule "audio/modules/link"]
	path = audio/modules/link
	url = https://github.com/Ableton/link.git
[submodule "audio/modules/portaudio"]
	path = audio/modules/portaudio
	url = https://git.assembla.com/portaudio.git
[submodule "audio/modules/sunvox_dll"]
	path = audio/modules/sunvox_dll
	url = https://github.com/warmplace/sunvox_dll.git
[submodule "audio/modules/pybind11"]
	path = audio/modules/pybind11
	url = https://github.com/pybind/pybind11.git
